{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
        <div class="" style="display:inline">
          <img  src="{{post.author.image.url}}" class="img-circle" alt="" width="50px;" height="50px;">
          <a class="mr-2" href="{% url 'profile' post.author.pk %}">{{ post.author }}</a><br>
          <small class="text-muted">{{ post.published_date|date:"F d, Y"}}</small>
        </div>
        <legend class="border-bottom mb-4"></legend>
        <h1 class='posttitle loader'>{{ post.title }}</h1>
        <img style="margin-left:250px;" src="{{ post.image.url }}" alt="" width="500" height="300" class="img-responsive" id="dd">
        <!--<a href="{{ MEDIA_URL }}{{ post.filepath }}" target="_blank">{{ post.filename }}</a>-->
        <div>
          <img src="{{ user.post.image.url }}" alt="" width="600px;" height="500px;">
          <p class='postcontent' >{{ post.text|safe|linebreaksbr }}</p>
        </div>
        {% if post.published_date %}
            <div class="date postdate">
                {{ post.published_date|date:"F d, Y" }}
            </div>
        {% else %}
        <br>
            <a class="btn btn-success" href="{% url 'post_publish' pk=post.pk %}">Publish</a><br>
            <br>
            <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger"  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <!--delete-->
        <div class="modal fade" id="myModal" role="dialog" >
          <div class="modal-dialog" >
            <!-- Modal content-->
            <div class="modal-content" >
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Post Delete:</h4>
              </div>
              <div class="modal-body">
                <form action="{% url 'post_remove' pk=post.pk %}" method="post">{% csrf_token %}
                  <p>Are you sure you want to delete "{{ object }}"?</p>
                  <input class='btn btn-danger' type="submit" value="Confirm" />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
              </div>
              <div class="modal-footer">

              </div>
            </div>

          </div>
        </div>
      {% if post.author.is_authenticated %}

      {% endif %}
  <hr>
  <div class="card my4">
    <h4 class="card-header">Comment :</h4>
    <div class="card-body">
      <form action="{% url 'add_comment_to_post' pk=post.pk %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <textarea name="comment" rows="3" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Submit</button>
      </form>
    </div>

  </div>

  <br>
    <h4>Comments:</h4>
  {% for comment in post.comments.all %}
  <br>

      {% if user.is_authenticated or comment.approved_comment %}


              <legend class="border-bottom mb-4" ></legend>

              <div class="article-metadata">
                <img src="{{comment.author.image.url}}" class="img-circle" alt="" width="50px;" height="50px;">
                <a class="mr-2" href="{% url 'profile' comment.author.pk %}">{{ comment.author }}</a><br>
                <small class="text-muted">{{comment.created_date|date:"F d, Y"}}</small>
              </div>
              <p>{{ comment.comment|safe|linebreaks }}</p>
              {% if not comment.approved_comment %}
                  <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                  <a class="btn btn-success" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
              {% endif %}



      {% endif %}
  {% empty %}
      <p>No comments.</p>
  {% endfor %}
</div>
{% endblock %}
